name: Test Jekyll Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2' # 使用兼容zeitwerk-2.7.4的Ruby版本
          bundler-cache: true

      - name: Build site
        run: bundle exec jekyll build

